html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }



.voiceinator {
  padding: 0 1rem 1rem;
  margin: auto;
  border-radius: 4px;
  background: white;
  
}

h1 {
  width: 100%;
  padding: 0.5rem;
  background: rgb(92, 93, 95);
  color: white;
  text-align: center;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  background: #eee;
  outline: 0;
}

textarea {
  height: 20rem;
  min-height: 50vh;
}

.voiceinator button {
  background: LightSlateGrey;
  color: white;

  justify-content: center;
  margin-bottom: 0;
  font-size: 1.5rem;
  cursor: pointer;

}



